.about-us{
    text-align: center;
    text-size: 1.5 rem;
}

.about-text{
    margin: 10px;
    padding: 10px;
}

.li-item{
    list-style: none;
}

.li-item a{
    color: rgb(98, 146, 98);
    text-decoration: none;
}