.about-company-section {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.about{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 935px){
  .about{
    flex-direction: column;
    align-items: center;
  }
}
.about-img{
  width: 20rem;
  height: 15rem;
  padding: 5px;
}

.text1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
}

.text2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
}
