.about-company-section {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.text1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
}

.text2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 28px;
}
